@use 'variables' as v;

/** Media Queries **/
@mixin phone {
   @media (min-width: v.$phone) {
      @content;
   }
}

@mixin tablet {
   @media (min-width: v.$tablet) {
      @content;
   }
}

@mixin desktop {
   @media (min-width: v.$desktop) {
      @content;
   }
}

@mixin button($color, $text) {
   background-color: $color;
   padding: 1.5rem 4rem;
   color: $text;
   margin-top: 2rem;
   font-size: 2rem;
   font-weight: 400;
   display: inline-block;
   font-weight: 700;
   border: none;
   transition-property: background-color;
   transition-duration: 0.3s;
   text-align: center;

   &:hover {
      cursor: pointer;
      background-color: darken($color, 10%);
   }

   @include tablet {
      width: auto;
   }
}

@mixin grid($columns, $spacing) {
   display: grid;
   gap: $spacing;
   grid-template-columns: repeat($columns, 1fr);
}

@mixin bgImage($url, $colorGradient) {
   background-image: linear-gradient($colorGradient 0%, $colorGradient 100%), url($url);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top center;
}

@mixin headingBorder($colorText, $colorLine) {
   font-size: 3.6rem;
   display: inline-block;
   margin-top: 5rem;
   color: $colorText;

   &::after {
      content: '';
      background-color: $colorLine;
      height: 1rem;
      width: calc(100% + 1rem);
      display: block;
      margin: -1.4rem 0 0 0;
   }

   @include tablet {
      margin-top: 0;
   }
}

@mixin iconBg($url) {
   background-image: url($url);
   background-repeat: no-repeat;
   background-position: 50% 2rem;
   background-size: 10rem;
}

@mixin heading {
   font-weight: 400;

   span {
      font-weight: 700;
   }

   &::after {
      content: '';
      display: block;
      height: 1rem;
      width: 15rem;
      margin-top: 1rem;
      background-image: linear-gradient(
         to right,
         v.$primary 0%,
         v.$primary 50%,
         lighten(v.$primary, 20%) 50%,
         lighten(v.$primary, 20%) 100%
      );
   }
}
